$ebony-color: #515751;
$dim-gray-color: #596869;
$slate-gray-color: #36453b;
$ivory-color: #f5f9e9;
$sage-color: #c2c1a5;

@keyframes fadeInOut {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}


.mainBoard {
  background-color: $ebony-color;
  display: grid;
  grid-template-rows: 150px 150px 150px 150px 150px 150px 150px 150px;
  grid-template-columns: 200px 200px 200px 200px;
  grid-template-areas:
    "card1 card1 card1 card1"
    "card1 card1 card1 card1"
    "card1 card1 card1 card1"
    "card1 card1 card1 card1"
    "card2 card2 card3 card3"
    "card2 card2 card3 card3"
    "card4 card5 card6 card7"
    "card8 card9 card10 card10";

  gap: 15px;
  border: 2px solid $ivory-color;
  border-radius: 25px;
  padding: 40px;
  width: max-content;

  @media (min-width: 960px) {
    grid-template-columns: 150px 150px 150px 150px 150px 150px 150px 150px;
    grid-template-rows: 200px 200px 200px 200px;
    grid-template-areas:
    "card1 card1 card1 card1 card2 card2 card3 card3"
    "card1 card1 card1 card1 card2 card2 card3 card3"
    "card1 card1 card1 card1 card4 card5 card6 card7"
    "card1 card1 card1 card1 card8 card9 card10 card10";
  }
}

 .userCard {
   display: flex;
   flex-direction: column;
   align-items: center;
   background-color: $sage-color;
   border: 2px solid $ivory-color;
   border-radius: 5px;
   padding: 15px;
   color: $slate-gray-color;
   box-shadow: 2px 2px 10px $sage-color;

   animation: 3s alternate fadeInOut;
 }

 .userPhoto {
   border-radius: 5px;
   height: 50%;
 }

 .userInfo {
   margin-top: 10px;
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   font-size: 14px;
   white-space: nowrap;
 }
